@import "tailwindcss";

:root {
  --background: #F0EFEB;
  --foreground: #283618;
  --darkest-forest: #283618;
  --ash-gray: #B7B7A4;
  --light-gray: #D4D4D4;
  --white-fence: #F0EFEB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-forest: var(--darkest-forest);
  --color-ash: var(--ash-gray);
  --color-light: var(--light-gray);
  --color-fence: var(--white-fence);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
